h1{
    color: #0400ff;
    background-color: #adbeff;
    font-style: italic;
  }
  h2{
    color: #483d8b;
  }
  h3{
    color:  cornflowerblue;
  }
  li{
    color: #00008B;
  }
  p{
    color: #AA336A;
  }
  h4{
    color: #00008B;
  }